.footer{
  max-width: 880px;
  margin: 0 auto;
  padding-top: 67px;
}

@media screen and (max-width:750px) {
  .footer{
    padding-top: 48px;
    padding-left: 18px;
  }
}

/* @media screen and (max-width:765px) {
  .footer{
    max-width: calc(100% - 32px);
    flex-direction: column;
    align-items: flex-start;
  }
} */ 